.Button {
    cursor: pointer;
    color: #000;
    padding: 6px 15px;

    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.bordered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    outline: none;
    background: black;
    border: 1px solid black;
    color: white;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}
