.img {
    margin-bottom: 15px;
}

.title {
    margin: 0 0 5px;
    font-size: 15px;
    text-align: center;
}

.content {
    text-align: center;
}

@media (min-width: 576px) {
    .BookCard {
        width: 48%;
    }
}

@media (min-width: 1290px) {
    .BookCard {
        width: 32%;
    }
}
